# Facebook API Configuration
FB_TOKEN=EAAKSIZAWHJRMBO2KoaRZBM5R1cxhVO5tZCQGhYudXf6BY7MVornaxpkYoQCXrAuwDlZBlzikRjNfabHKq3JbzSQSTmCPEeSrChf8HVtI9xSOQc2BL5nulkREa0GZA4BalxzphbpPDSDX4gmMHeWVtqZBteGSwLdXVScBe3kmlJcy07tQx2fCTbkGlZBT08LwZC902eZBT4AWJR2v07ZCbZBK5e5

# Facebook Ad Account IDs
FB_AD_ACCOUNT_1=act_283711871364526
FB_AD_ACCOUNT_2=act_1398807304184031

# Supabase Configuration
# Substitua pelos seus valores do Supabase
NEXT_PUBLIC_SUPABASE_URL=https://testes-supabase.1kzle7.easypanel.host
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE
